<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NISHE</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <header>
        <h2 class = "logo">Logo</h2>
        <nav class = "navigation">
            <a href ="#">Home</a>
            <a href = "#">About us</a>
            <a href = "#">Surveys</a>
            <a href = "#">Become a member</a>
        </nav>
    </header>
    <section class = "parallax">
        
        <img src = "hill1.png" id="hill1">
        <img src = "hill2.png" id="hill2">
        <img src = "hill3.png" id = "hill3">
        <img src = "hill4.png" id = "hill4">
        <img src = "hill5.png" id = "hill5">
        <img src = "tree.png" id = "tree">
        <h2 id = "text">NISHE</h2>
        <img src = "leaf.png" id = "leaf">
        <img src = "plant.png" id = "plant">
    </section>
    
    <section class = "sec">
        <div class = "heading">
        <h2>About us</h2>
    </div>
        <p>Welcome to NISHE - National Initiative for Sustainability in Higher Education</p>
         <div class = "mission">
            <img src = "OIP.jpeg">
            <div class="tect1">
                <h4>Our Mission</h4>
            <div class = "text">
                <p>At NISHE, we are on a mission to catalyze a sustainable transformation in higher education institutions across the nation. We firmly believe that education is the cornerstone of positive change, and by fostering sustainability within the academic sphere, we can inspire future generations to tackle the pressing environmental, social, and governance challenges of our time.
                </p>
            </div>
        </div>
        </div>
            <div class = "vission">
                
                <div class = "text">
                    <p>
                        We invite higher education institutions, students, faculty, administrators, and all stakeholders to join us in this transformative journey towards a sustainable future. Together, we can make a lasting impact, inspire positive change, and create a legacy of sustainability in higher education that resonates for generations to come.
                     </p>
                     
                </div>
                <img src = "download.jpeg">
        </div>
        <div class = "mission">
            <img src = "download (1).jpeg">
            <div class="tect1">
            <h4>What we do?</h4>
            <div class = "text">
                <p>At NISHE, we are on a mission to catalyze a sustainable transformation in higher education institutions across the nation. We firmly believe that education is the cornerstone of positive change, and by fostering sustainability within the academic sphere, we can inspire future generations to tackle the pressing environmental, social, and governance challenges of our time.
                </p>
            </div>
        </div>
        </div>
    </section>
    <section id = "parameter">
        <div class = "container">
            <div class="box">
            <h1>01</h1>
            <h3> Waste diversion rate </h3>
            <p>This metric assesses the effectiveness of a college's waste management practices.</p>
            </div>
            <div class="box">
                <h1>02</h1>
                <h3> Invest in sustainable research </h3>
                <p>This parameter looks at the financial commitment and achievements related to sustainable research.</p>
                </div>
                <div class="box">
                    <h1>03</h1>
                    <h3> Renewable Energy Consumption:</h3>
                    <p>This metric reveals the proportion of the institution's energy consumption that comes from renewable sources such as solar, wind, or hydropower</p>
                    </div>
        </div>
    </section>
    <script src = "script.js"></script>
</body>
</html>